In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_url = 'https://raw.githubusercontent.com/julia-komleva/ml-course-2021/main/data/2.csv'
df = pd.read_csv(data_url, encoding='cp1251')
df = df.drop(columns=['Модель', 'Цвет'])
df.head()

import seaborn as sns
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.cluster import KMeans
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [2]:
df["Марка"].value_counts()

ВАЗ           5497
Toyota        2700
Nissan        2064
Hyundai       1897
Volkswagen    1885
              ...
Scion            1
ВИС              1
Oldsmobile       1
Samand           1
Tianma           1
Name: Марка, Length: 92, dtype: int64

In [3]:
for col in df.columns:
  print(f"{col}: {df[col].nunique()}")

Марка: 92
Год: 28
Состояние: 1
Пробег: 3443
Объем: 45
Топливо: 5
Мощность: 303
Кузов: 11
Привод: 3
КПП: 4
Руль: 2
Хозяев в ПТС: 3
Цена: 1577

In [4]:
df.drop("Состояние", axis=1, inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35019 entries, 0 to 61065
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Марка         35019 non-null  object
 1   Год           35019 non-null  float64
 2   Пробег        35019 non-null  float64
 3   Объем         35019 non-null  float64
 4   Топливо       35019 non-null  object
 5   Мощность      35019 non-null  float64
 6   Кузов         35019 non-null  object
 7   Привод        35019 non-null  object
 8   КПП           35019 non-null  object
 9   Руль          35019 non-null  object
 10  Хозяев в ПТС  35019 non-null  object
 11  Цена          35019 non-null  float64
dtypes: float64(5), object(7)
memory usage: 3.5+ MB